In [228]:
import pandas as pd

In [240]:
import numpy as np

In [270]:
from numpy.random import randn
np.random.seed(100)

In [271]:
#random.randn()

In [272]:
pd.DataFrame()

Empty DataFrame
Columns: []
Index: []

In [273]:
#df=pd.DataFrame(randint(1,100,size=(5,5)))

In [275]:
df=pd.DataFrame()

In [276]:
df

          0         1         2         3
0 -1.704651 -1.136261 -2.973315  0.033317
1 -0.248889 -0.450176  0.132428  0.022214
2  0.317368 -0.752414 -1.296392  0.095139
3 -0.423715 -1.185984 -0.365462 -1.271023

In [159]:
v=pd.DataFrame(randn(5,5),['A','B','C','D','E'],['U','V','W','X','Y'])

In [160]:
v

          U         V         W         X         Y
A  0.937082  0.731000  1.361556 -0.326238  0.055676
B  0.222400 -1.443217 -0.756352  0.816454  0.750445
C -0.455947  1.189622 -1.690617 -1.356399 -1.232435
D -0.544439 -0.668172  0.007315 -0.612939  1.299748
E -1.733096 -0.983310  0.357508 -1.613579  1.470714

In [161]:
v>0

       U      V      W      X      Y
A   True   True   True  False   True
B   True  False  False   True   True
C  False   True  False  False  False
D  False  False   True  False   True
E  False  False   True  False   True

In [162]:
v["Y"]>0

A     True
B     True
C    False
D     True
E     True
Name: Y, dtype: bool

In [163]:
v[v["Y"]>0]

          U         V         W         X         Y
A  0.937082  0.731000  1.361556 -0.326238  0.055676
B  0.222400 -1.443217 -0.756352  0.816454  0.750445
D -0.544439 -0.668172  0.007315 -0.612939  1.299748
E -1.733096 -0.983310  0.357508 -1.613579  1.470714

In [164]:
v

          U         V         W         X         Y
A  0.937082  0.731000  1.361556 -0.326238  0.055676
B  0.222400 -1.443217 -0.756352  0.816454  0.750445
C -0.455947  1.189622 -1.690617 -1.356399 -1.232435
D -0.544439 -0.668172  0.007315 -0.612939  1.299748
E -1.733096 -0.983310  0.357508 -1.613579  1.470714

In [165]:
mohan=v["U"]+v["V"]

In [166]:
mohan

A    1.668083
B   -1.220817
C    0.733675
D   -1.212611
E   -2.716406
dtype: float64

In [167]:
v["kas"]=mohan

In [168]:
v

          U         V         W         X         Y       kas
A  0.937082  0.731000  1.361556 -0.326238  0.055676  1.668083
B  0.222400 -1.443217 -0.756352  0.816454  0.750445 -1.220817
C -0.455947  1.189622 -1.690617 -1.356399 -1.232435  0.733675
D -0.544439 -0.668172  0.007315 -0.612939  1.299748 -1.212611
E -1.733096 -0.983310  0.357508 -1.613579  1.470714 -2.716406

In [169]:
c=v["Y"]

In [170]:
c

A    0.055676
B    0.750445
C   -1.232435
D    1.299748
E    1.470714
Name: Y, dtype: float64

In [187]:
import pandas as pd
import numpy as np

In [188]:
#d=np.random.randint(1,100,size=(5,5))

In [199]:
v=random.seed()
from n
m=pd.DataFrame(random.randint((1,100),20),['A','B','C','D','E'],['U','V','W','X','Y'])

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'tuple'

In [197]:
m

    U   V   W   X   Y
A  23  23  23  23  23
B  23  23  23  23  23
C  23  23  23  23  23
D  23  23  23  23  23
E  23  23  23  23  23

In [ ]:
print(m["X"])

In [ ]:
li=list(m["X"])

In [ ]:
li

In [ ]:
r=[]
for p in li:
    if p==0:
        r.append("even")
    else:
        r.append("odd")

In [ ]:
r

In [ ]:
m["x_position"]=r

In [ ]:
m

sum = 0
for index in m.index:
    i = 0
    fram  = m.loc[index]
    print(fram)
    sum += fram[i]
    i+=1
    print(i)
    print(sum)

In [ ]:
m.loc['A']

In [ ]:
m.iloc[0, :-1]

In [ ]:
sum(m.iloc[0,:-1].tolist())

In [ ]:
m.drop('x_position', axis=1,inplace=True)

In [ ]:
m

In [ ]:
li = [4,78,6,87]

newLi = []

for i in li:
    newLi.append(i*2)

newLi

In [ ]:
NEWli = [i*2 for i in li]
NEWli

In [ ]:
m['Total(500)'] = [index for index in range(len(m.index))]
m['% marks'] = [index for index in range(len(m.index))]
m['Grade'] = [index for index in range(len(m.index))]

In [ ]:
m

In [ ]:
#m['Total(500)'] = [index for i in range(len(m.index))]

for index in range(len(m.index)):
    val  = sum(m.iloc[index, :-3].tolist())
    print(val)# total
    m["Total(500)"][index]=val
    per=(m["Total(500)"][index])/500*100 #percentage
    m["% marks"][index] = per
    if per>=90:
       m["Grade"][index] = "A"
    elif (per>=80 and per<90):
        m["Grade"][index] = "B"
    elif (per>=40 and per<90):
        m["Grade"][index] = "C"
    else:
        m["Grade"][index] = "D"

In [ ]:
m

In [ ]:
    #add.append(val)
#li3=[]
for i in range(len(m["Total(500)"])):
    print(m["Total(500)"][i])
    r=(m["Total(500)"][i])
    per=r/500*100
    li3.append(round(per,2))
    
#li3=[]
#gr=[]
for i in range(len(m["Total(500)"])):
    #print(m["Total(500)"][i])
    r=(m["Total(500)"][i])
    per=r/500*100
    li3.append(round(per,2))
for per in li3:
    #print(per)
    if per>=90:
        gr.append("A")
    elif (per>=80 and per<90):
        gr.append("B")
    elif (per>=40 and per<90):
        gr.append("C")
    else:
        gr.append("D")

In [ ]:
li3=[]
for i in range(len(m["Total(500)"])):
    print(m["Total(500)"][i])
    r=(m["Total(500)"][i])
    per=r/500*100
    li3.append(round(per,2))
    
#print(li3)

In [ ]:
m["PERCENTAGE"]=li3

In [ ]:
m

In [ ]:
li3=[]
gr=[]
for i in range(len(m["Total(500)"])):
    #print(m["Total(500)"][i])
    r=(m["Total(500)"][i])
    per=r/500*100
    li3.append(round(per,2))
for per in li3:
    #print(per)
    if per>=90:
        gr.append("A")
    elif (per>=80 and per<90):
        gr.append("B")
    elif (per>=40 and per<90):
        gr.append("C")
    else:
        gr.append("D")

In [ ]:
m["PERCENTAGE"]=li3
m["GRADE"]=gr

In [ ]:
m